@model IEnumerable<TravelAgency.Domain.Models.Itineraries>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartutreTime)
            </th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItineraryInPackages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                    <img class="card-img-top" src="@item.Image" alt=" Image" style="width:100%; height:200px;">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartutreTime)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItineraryInPackages)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
